*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

.box-cadastro {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-form form {
    display: flex;
    flex-direction: column;
}